.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

/slides-content_files/
/.quarto/
/_site/
/_book/
**/*.quarto_ipynb

*.html
*.pdf
*.png
*.jpg
*.zip
README.Rmd
slides-content.html
slides-content.md
